# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
infra/tfplan
infra/.terraform.tfstate.lock.info

# LocalStack
localstack_data/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pyre/
.mypy_cache/
.pytype/
.pyright/
.venv/
.ruff_cache/

node_modules/